// Widescreen
@include mediaXl {
	.projects {
		grid-template-columns: repeat(3, 1fr);
	}

	main#home .banner-caption {
		display: flex;
		flex-direction: column;
		
		h1 {
			font-size: 3rem;
		}
	}

	.cd-headline {
		font-size: 1rem;
		margin-left: 0;	
		background-color: rgba(#1f4287, 0.6);
		padding: 1rem 1.5rem;
		color: #f9ff21;
	}

	main#home .icons {
		position: static;
		margin-top: 20rem;
		margin-left: 80%;
		// left: 0;
		// top: 80%;
	}

	// Arrow bounce
	.arrow {
	  position: absolute;
	  bottom: 5vh;
	  width: 100vw;
	  z-index: 20;
	  right: -7rem;
	}

}

// DESKTOP AND LAPTOPS;
@include mediaLg {
	.projects {
		grid-template-columns: repeat(3, 1fr);
	}

	main#home .banner-caption {
		display: flex;
		flex-direction: column;
		
		h1 {
			font-size: 3rem;
		}
	}
// #21e6c1 #1f4287
	.cd-headline {
		font-size: 1rem;
		margin-left: 0;	
		background-color: rgba(#1f4287, 0.6);
		padding: 1rem 1.5rem;
		// color: #f9ff21;
	}

	main#home .icons {
		position: static;
		margin-top: 20rem;
		margin-left: 70%;
		// left: 0;
		// top: 80%;
	}

	// Arrow bounce
	.arrow {
	  position: absolute;
	  bottom: 5vh;
	  width: 100vw;
	  z-index: 20;
	  right: -7rem;
	}
}

// Tablets and small laptops
@include mediaMd {
	main {
		// align-items: center;
		// text-align: center;

		.lg-heading {
			line-height: 1rem;
			margin-bottom: 1rem;
			background-color: #fff;
		}
	}

	main#home {
		// font-size: 0.8rem;
		// display: flex;
		// justify-content: flex-start;
		// align-items: flex-start;
	}

	// main#home h1 {
 //  	font-size: 5rem;
	// }

	// main#home h2 {
	// 	width: 80vw;
	// 	font-size: 1.8rem;
	// 	margin-top: 20px;
	// 	// position: absolute;
	// 	// left: 30px;
	// 	// top: 60%;
	// 	padding: 60px;
	// }

	main#home .banner-caption {
		display: flex;
		flex-direction: column;
		h1 {
			font-size: 2rem;
		}
	}

	.cd-headline {
		// border: 2px #c86f5e solid;
		background-color: rgba(#1f4287, 0.6);
		font-size: 1rem;
		// margin-right: 13%;
		padding: 1rem 1rem;
	}

	.blc,
  .cd-words-wrapper {
		// font-size: 0.5rem;
		padding-top: 9.5rem;
		color: #c86f5e;
	}

	main#home .icons {
		position: static;
		margin-top: 13rem;
		margin-left: 92%;

		.fab {
			padding: 0.5rem;
		}
		// left: 0;
		// top: 80%;
	}

	main#about h1 {
		display: flex;
  	font-size: 3rem;
  	margin-bottom: 90px;
	}

	main#work h1 {
		display: flex;
		font-size: 3rem;
		margin-bottom: 90px;
	}

	main#contact h1 {
		display: flex;
		font-size: 2.5rem;
		margin-bottom: 90px;
	}

	ul.menu-nav,div.menu-branding {
		float: none;
		width: 100%;
		min-height: 0;

		&.show {
			transform: translate3d(0, 0, 0);
		}
	}

	.menu-nav {
		height: 75vh;
		transform: translate3d(-100%, 0, 0);
		font-size: 24px;
		opacity: 1;
	}

	.menu-branding {
		height: 25vh;
		transform: translate3d(100%, 0, 0);

		.portrait {
			background: url('../img/profile-sm.png');
			background-size: cover;
			width: 150px;
			height: 150px;
		}
	}

	main#contact .boxes {
		display: grid;
		// flex-direction: column;
		grid-template-columns: 1fr;
		padding: 10px;
		margin: 20px;
		// justify-content: center;
		// align-items: center;
		div {
			font-size: 1rem;

			&:hover {
				border-radius: 20%;
				padding: 1.5rem 2.5rem;
				border: 2px #21e6c1 solid;
				background: #071e3d;
				color: #21e6c1;
			}
		}
	}

	.about-info {
		grid-template-areas: 
		'bioimage'
		'bio'
		'job1'
		'job2'
		'job3';

		grid-template-columns: 1fr;
		justify-content: center;
	}

	.projects {
		grid-template-columns: 1fr;
	}

	// Arrow bounce
	.arrow {
	  position: absolute;
	  bottom: 5vh;
	  width: 100vw;
	  z-index: 20;
	  right: -6rem;
	}
}
// Smartphones
@include mediaSm {
	body#bg-img header {
	}

	// .banner .banner-caption h1 {
 //    font-size: 1rem; 
 //  }
 //  .banner .banner-caption p {
 //    font-size: 17px; 
 //  }
 //  .banner #home-svg {
 //    height: 80px; 
 //  }
 //  section.banner-blog .banner-caption h1 {
 //    font-size: 32px; 
 //  }

	main#home {
  	display: flex;
  	flex-direction: column;

  	.banner-caption {
  		width: 110%;
  	}

  	h1 {
  		border: 2px #c86f5e solid;
  		box-shadow: -10px -10px rgba(#1f4287, 0.6);
  		font-size: 2rem;
  		// flex-direction: column;

  		// margin-bottom: 50px;
  		// justify-content: flex-start;
  		// align-items: flex-start;
  	}

  	h2 {
  		position: static;
  		// display: flex;
			// width: 80vw;
			// padding: 6px;
  	}

  	p {
  		margin: 3rem 0;

  		span {
				font-size: 0.9rem;
				// width: 90%;
  		}

  		.blc,
  		.cd-words-wrapper {
  			font-size: 0.9rem;
  			padding-top: 1.5rem;
  			margin-left: 0.5rem;
  			color: #c86f5e;
  		}
  	}

		.icons {
			position: static;
			margin-top: 7rem;
			margin-left: 80%;
			// display: flex;
			// position: absolute;
			// left: 0;
			// margin-bottom: 100px;
		}
	}

	.menu-bar {
    position: absolute;
    z-index: 3;
    right: 5rem;
    top: 40px;
    cursor: pointer;
  }

// Arrow bounce
.arrow {
  position: absolute;
  bottom: 1rem;
  // right: 2rem;
  // bottom: 0;
  // width: 100vw;
  // z-index: 20;
  // right: 18rem;
}

		// .menu-bar {
		// 	grid-row-start: 1;
		// 	grid-row-end: 2;
		// }
}