@import 'config';
@import 'menu';				
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
	box-sizing: border-box;
}

 body {
 	@include background;
 	background-color: $primary-color;
 	color: set-text-color($primary-color);
 	height: 100%;
 	margin: 0;
 	font-family: 'Quicksand','Segoe UI', Tahoma, Geneva, Verdona, sans-serif;
 	line-height: 1.5;
 }

 // Heading
 h1, h2, h3 {
 	margin: 0;
 	font-weight: 400;
 	

 	&.large-heading {
 		font-size: 6rem;
 		padding: 1rem;
 	}

 	&.small-heading {
 		margin-bottom: 2rem;
 		padding: 1.5rem;
 		background: rgba(lighten($primary-color, 2), 0.5);
 	}
 }

 a {
 	color: #c86f5e;
 	text-decoration: none;
 }

header {
	position: fixed;
	z-index: 2;
	width: 100%;
}

.text-secondary {
	color: #c86f5e;
}

main {
	padding: 4rem;
	// height: 100%;
	min-height: calc(100vh - 60px);

	.icons {
		margin-top: 8rem;

		a {
			padding: .5rem;

			&:hover {
				color: #21e6c1;
				@include easeOut();
			}	
		}
	}

	&#home {
		overflow: hidden;
		h1{
			margin-top: 20vh;
		}
	}
}

.about-info {
	display: grid;
	grid-gap: 30px; 
	grid-template-areas: 'bioimage bio bio'
	'job1 job2 job3';
	grid-template-columns: repeat(3, 1fr);

	.bio-img {
	grid-area: bioimage;
	margin: auto;
	border-radius: 50%;
	border: #c86f5e 3px solid;
	}

	.bio {
		grid-area: bio;
		font-size: 1.5rem;
	}

	.job-1 {
		grid-area: job1
	}

	.job-2 {
		grid-area: job2
	}

	.job-3 {
		grid-area: job3
	}

	.job {
		background: lighten($primary-color, 5);
		padding: 0.5rem;
		color: #c86f5e;
		border-bottom: $secondary-color solid 3px;
	}
}

// Work/Projects 
.projects {
	display: grid;
	grid-gap: 1.7rem;
	grid-template-columns: repeat(3, 1fr);

	img {
		width: 100%;
		border: solid 2px #aaa;

		&:hover {
			opacity: 0.5;
			border-color: #c86f5e;
			@include easeOut;
		}
	}
}

// Contact page
.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1rem;

	div {
		font-size: 2rem;
		border: 3px solid #fff;
		padding: 1.5rem 2.5rem;
		margin-bottom: 3rem;
		@include easeOut;

		&:hover {
			padding: 0.5rem 1.5rem;
			background: $secondary-color;
			color:set-text-color($secondary-color);

			span {
				color: set-text-color($secondary-color);
			}
		}
	}
}

// Banner heandle
.banner {
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }
  .banner:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 2;
    opacity: .5; }
  .banner .banner-caption {
    top: 50%;
    position: absolute;
    color: #fff;
    z-index: 11;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .banner .banner-caption h1 {
      font-size: 88px;
      font-weight: 900;
      color: #fff; }
    .banner .banner-caption p {
      font-size: 24px;
      font-family: "Raleway", san-serif;
      color: #eee; }

.cd-headline {
  font-size: 3rem;
  line-height: 1.2; }

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left; }

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0; }

.cd-words-wrapper b.is-visible {
  position: relative; }

.no-js .cd-words-wrapper b {
  opacity: 0; }

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1; }

/* xclip */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0; }

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top; }

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #aebcb9; }

.cd-headline.clip b {
  opacity: 0; }

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 700; }

// Arrow bounce

// .arrow {
//   position: absolute;
//   bottom: 10vh;
//   width: 100vw;
//   z-index: 20;
//   padding-left: 75px; }


.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

// @keyframes bounce {
//   0%, 20%, 50%, 80%, 100% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0); }
//   40% {
//     -webkit-transform: translateY(-30px);
//     transform: translateY(-30px); }
//   60% {
//     -webkit-transform: translateY(-15px);
//     transform: translateY(-15px); } }
// }

// Button styles
.btn {
	cursor: pointer;
	display: block;
	padding: 0.5rem 1rem;
	border: 0;
	margin-bottom: 0.3rem;

	&:hover {
		background: $secondary-color;
		color: set-text-color($secondary-color);
	}
}

.btn-dark {
	@extend .btn;
	background: darken($primary-color, 50);
	color: #bbb;
}


.btn-light {
	@extend .btn;
	background: lighten($primary-color, 50);
	color: #666;
}

#main-footer {
	text-align: center;
	padding: 1rem;
	background: darken($primary-color, 10);
	color: set-text-color($primary-color);
	height: 60px;
}

@import 'mobile';	























